@use './config/index.scss' as *;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    // outline: 1px solid rgb(255, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.limit-width {
    @include containerChild();
    margin: 0 auto;
    // border: 3px solid green;
}

.hero {
    width: 100%;
    // background: var(--background);
    // background: linear-gradient(to right, #e0f7ef 60%, #f1fbf8 40%);
}
.hero__container {
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    .hero__img {
        object-fit: contain;
        width: 100%;
        // width: min(200px, 100%);
    }
    .hero__left,
    .hero__right {
        height: 100%;
    }
    .hero__left {
        padding-top: var(--nav_size);
        background: var(--background);
    }
    .hero__right {
        background: var(--background_light);
    }
    @media (min-width: 768px) {
        > .hero__left,
        > .hero__right {
            padding: 3em;
            padding-top: calc(var(--nav_size) * 2.5);
            height: 100%;
        }
        grid-template-columns: 6fr 4fr;
        .hero__left {
            background: var(--background);
            > div {
                margin-left: auto;
                // border: 1px solid red;
                display: grid;
                grid-template-columns: 4fr 3fr;
                width: min(100%, calc(var(--max_width) / 10 * 6));
            }
        }
        .hero__right {
            background: var(--background_light);
            div {
                margin-right: auto;
                width: min(100%, calc(var(--max_width) / 10 * 4));
                .right__text {
                    max-width: 42ch;
                }
            }
        }
    }
}
nav {
    position: fixed;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;
    left: 50%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .company {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
    .nav__title {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    .logo {
        height: calc(var(--nav_size) - 1.5rem);
    }
}
